<html xmlns="http://www.w3.org/1999/xhtml">
<body>
 <table width="100%">
    <tr> 
    <th width="80%"></th>
     <th width="20%" align="right" >  <img src="<?=base_url('assets/dist/img/logo-print-2.png')?>">
             </th> 
   </tr> 
   
   <tr> 
    <td  align="left" valign="bottom"  style="height:20px; font-size:22px;"><div style="background-color:#000000; color:#FFFFFF; width:200px; margin-left:10px;">&nbsp;&nbsp;Purchase Order</div></td>
    <td></td>
   </tr>
   </table>
</body>
</html>
